In [1]:
import pandas as pd
from shared_modules import load_dill_vars

In [ ]:
twitter_vars = load_dill_vars("twitter")
reddit_vars = load_dill_vars("reddit")

In [26]:
test = pd.read_csv("csv_test_files/Corona_NLP_test.csv")

In [53]:
test

                                          OriginalTweet Sentiment
0     TRENDING: New Yorkers encounter empty supermar...  negative
1     When I couldn't find hand sanitizer at Fred Me...  positive
2     Find out how you can protect yourself and love...  positive
3     #Panic buying hits #NewYork City as anxious sh...  negative
4     #toiletpaper #dunnypaper #coronavirus #coronav...   neutral
...                                                 ...       ...
3793  Meanwhile In A Supermarket in Israel -- People...  positive
3794  Did you panic buy a lot of non-perishable item...  negative
3795  Asst Prof of Economics @cconces was on @NBCPhi...   neutral
3796  Gov need to do somethings instead of biar je r...  negative
3797  I and @ForestandPaper members are committed to...  positive

[3798 rows x 2 columns]

In [27]:
test = test.replace("Extremely Negative", "negative")
test = test.replace("Negative", "negative")
test = test.replace("Extremely Positive", "positive")
test = test.replace("Positive", "positive")
test = test.replace("Neutral", "neutral")

In [29]:
del test['UserName']
del test['ScreenName']
del test['Location']
del test['TweetAt']

In [31]:
from shared_modules import database_as_afinn, database_as_bert, database_as_textblob, database_as_vader, positive_neg_count_df

In [38]:
afinn_inputs = pd.DataFrame(test["OriginalTweet"])
bert_inputs = pd.DataFrame(test["OriginalTweet"])
textblob_inputs = pd.DataFrame(test["OriginalTweet"])
vader_inputs = pd.DataFrame(test["OriginalTweet"])

In [40]:
afinn_inputs["Sentiment"] = afinn_inputs["OriginalTweet"].apply(database_as_afinn)

In [42]:
bert_inputs["Sentiment"] = bert_inputs["OriginalTweet"].apply(database_as_bert)

In [43]:
textblob_inputs["Sentiment"] = textblob_inputs["OriginalTweet"].apply(database_as_textblob)

In [44]:
vader_inputs["Sentiment"] = vader_inputs["OriginalTweet"].apply(database_as_vader)

In [50]:
afinn_inputs[~afinn_inputs.isin(test).all(axis=1)]

                                          OriginalTweet Sentiment
1     When I couldn't find hand sanitizer at Fred Me...   neutral
6     Voting in the age of #coronavirus = hand sanit...   neutral
14    While we were busy watching election returns a...  negative
17    When youre stockpiling food &amp; other suppl...  positive
28    While you are stocking up, waiting for quarant...   neutral
...                                                 ...       ...
3760  While we all post about being kind to others.....   neutral
3761  STAYING HOME DUE TO CORONAVIRUS? https://t.co/...  positive
3770  PSA: Stop panicking about COVID-19, you don't ...  positive
3780  @GovLauraKelly PLEASE CLOSE ALL RETAIL that is...  negative
3788  You never eaten the pigs cat dog or food from ...  negative

[824 rows x 2 columns]

In [51]:
bert_inputs[~bert_inputs.isin(test).all(axis=1)]

                                          OriginalTweet Sentiment
1     When I couldn't find hand sanitizer at Fred Me...  negative
2     Find out how you can protect yourself and love...   neutral
3     #Panic buying hits #NewYork City as anxious sh...   neutral
4     #toiletpaper #dunnypaper #coronavirus #coronav...  negative
6     Voting in the age of #coronavirus = hand sanit...   neutral
...                                                 ...       ...
3783  Amazon delivery infrastructure strained as COV...   neutral
3784  Just been through K?piti New World which is bu...   neutral
3790  Even though the Law Library is closed, ALL sub...   neutral
3792  @RicePolitics @MDCounties Craig, will you call...   neutral
3794  Did you panic buy a lot of non-perishable item...   neutral

[1862 rows x 2 columns]

In [52]:
textblob_inputs[~textblob_inputs.isin(test).all(axis=1)]

                                          OriginalTweet Sentiment
0     TRENDING: New Yorkers encounter empty supermar...   neutral
1     When I couldn't find hand sanitizer at Fred Me...   neutral
3     #Panic buying hits #NewYork City as anxious sh...  positive
5     Do you remember the last time you paid $2.99 a...  negative
6     Voting in the age of #coronavirus = hand sanit...   neutral
...                                                 ...       ...
3787  Its funny seeing all these people fight and pa...  positive
3788  You never eaten the pigs cat dog or food from ...  positive
3792  @RicePolitics @MDCounties Craig, will you call...  positive
3794  Did you panic buy a lot of non-perishable item...  positive
3797  I and @ForestandPaper members are committed to...   neutral

[1880 rows x 2 columns]

In [49]:
vader_inputs[~vader_inputs.isin(test).all(axis=1)]

                                          OriginalTweet Sentiment
1     When I couldn't find hand sanitizer at Fred Me...  negative
15    #AirSewa \r\r\n\r\r\n@flyspicejet is not provi...  positive
27    Coronavirus panic spreads: Costco is pulling f...  positive
29    #Coronavirus is "an exposure of all the holes ...   neutral
34    So not due to #Brexit at all then &gt;&gt; Sup...  negative
...                                                 ...       ...
3691  With all this chaos with #coronavirus \r\r\nPl...  positive
3694  Urban Outfitters, Nike, and 14 other major ret...  positive
3712  Dear Malaysians no need panic buy Our country ...  positive
3738  2 Weeks #Lockdown! - #PANIC &amp; #Confusion C...  negative
3761  STAYING HOME DUE TO CORONAVIRUS? https://t.co/...  positive

[250 rows x 2 columns]

In [65]:
test2 = pd.read_csv("csv_test_files/covid-19_vaccine_tweets_with_sentiment.csv", encoding="ISO-8859-1")

In [67]:
test2 = test2.replace(1, "negative")
test2 = test2.replace(2, "neutral")
test2 = test2.replace(3, "positive")

In [69]:
afinn_inputs = pd.DataFrame(test2["tweet_text"])
bert_inputs = pd.DataFrame(test2["tweet_text"])
textblob_inputs = pd.DataFrame(test2["tweet_text"])
vader_inputs = pd.DataFrame(test2["tweet_text"])

In [71]:
afinn_inputs["label"] = afinn_inputs["tweet_text"].apply(database_as_afinn)
bert_inputs["label"] = bert_inputs["tweet_text"].apply(database_as_bert)
textblob_inputs["label"] = textblob_inputs["tweet_text"].apply(database_as_textblob)
vader_inputs["label"] = vader_inputs["tweet_text"].apply(database_as_vader)

In [72]:
afinn_inputs[~afinn_inputs.isin(test2).all(axis=1)]

                                             tweet_text     label
1     Pranam message for today manifested in Dhyan b...  positive
3     Confirmation that Chinese #vaccines "dont hav...  positive
9     The day after the #Moderna #COVID19Vaccine... ...  negative
10    @syd_m39 Not a girl but part of the #Moderna c...   neutral
13    #India at 216850  new cases of #coronavirus wi...  negative
...                                                 ...       ...
5992  So is it a bad idea to get one's 1st Moderna s...  negative
5994  Home from another good shift working at #vacci...  positive
5995  @Swamy39 Dr. @Swamy39 jee :\n\nMany people lik...  positive
5998  @___batshitcrazy @BarrowfordHead @Bectully I h...   neutral
5999  The smart sympathy attends into the oblong not...  positive

[3182 rows x 2 columns]

In [73]:
bert_inputs[~bert_inputs.isin(test2).all(axis=1)]

                                             tweet_text     label
4     Lab studies suggest #Pfizer, #Moderna vaccines...   neutral
9     The day after the #Moderna #COVID19Vaccine... ...  negative
10    @syd_m39 Not a girl but part of the #Moderna c...   neutral
13    #India at 216850  new cases of #coronavirus wi...  negative
17    @CBCAlerts EMBARRASSING Crimea Russia everythi...   neutral
...                                                 ...       ...
5984  40 Doctors of KGMC Lucknow declared Carona pos...  positive
5989  To all stil in confusion about vaccine pls int...  negative
5991             my mom just got vaccinated ?? #Moderna   neutral
5992  So is it a bad idea to get one's 1st Moderna s...  negative
5994  Home from another good shift working at #vacci...  positive

[2299 rows x 2 columns]

In [74]:
textblob_inputs[~textblob_inputs.isin(test2).all(axis=1)]

                                             tweet_text     label
0     4,000 a day dying from the so called Covid-19 ...   neutral
1     Pranam message for today manifested in Dhyan b...  positive
2     Hyderabad-based ?@BharatBiotech? has sought fu...  positive
3     Confirmation that Chinese #vaccines "dont hav...   neutral
4     Lab studies suggest #Pfizer, #Moderna vaccines...   neutral
...                                                 ...       ...
5992  So is it a bad idea to get one's 1st Moderna s...  negative
5994  Home from another good shift working at #vacci...  positive
5995  @Swamy39 Dr. @Swamy39 jee :\n\nMany people lik...  positive
5998  @___batshitcrazy @BarrowfordHead @Bectully I h...  positive
5999  The smart sympathy attends into the oblong not...  positive

[3129 rows x 2 columns]

In [75]:
vader_inputs[~vader_inputs.isin(test2).all(axis=1)]

                                             tweet_text     label
0     4,000 a day dying from the so called Covid-19 ...   neutral
1     Pranam message for today manifested in Dhyan b...  positive
9     The day after the #Moderna #COVID19Vaccine... ...  negative
10    @syd_m39 Not a girl but part of the #Moderna c...   neutral
17    @CBCAlerts EMBARRASSING Crimea Russia everythi...  negative
...                                                 ...       ...
5992  So is it a bad idea to get one's 1st Moderna s...  negative
5994  Home from another good shift working at #vacci...  positive
5995  @Swamy39 Dr. @Swamy39 jee :\n\nMany people lik...  positive
5998  @___batshitcrazy @BarrowfordHead @Bectully I h...   neutral
5999  The smart sympathy attends into the oblong not...  positive

[3221 rows x 2 columns]

In [87]:
database_as_afinn("i am getting my vaccine tomorrow oh no")

'negative'

In [86]:
database_as_bert("i am getting my vaccine tomorrow oh no")

'negative'

In [85]:
database_as_textblob("i am getting my vaccine tomorrow oh no")

'neutral'

In [84]:
database_as_vader("i am getting my vaccine tomorrow oh no")

'negative'

In [89]:
import matplotlib.pyplot as plt
import numpy as np

In [91]:
twitter_vars = load_dill_vars("twitter")
reddit_vars = load_dill_vars("reddit")

In [112]:
def get_specific_run(dill_vars, topic, r, sn):
    query_dpts = []
    positive = []
    negative = []
    neutral = []
    
    for library in dill_vars:
 
        results = positive_neg_count_df(dill_vars[library][r][topic])       # gets data from function
                        
                        
        positive += [results['pos_perc']]    # adds this data to the lists
        negative += [results['neg_perc']]
        neutral += [results['neu_perc']]

    query_dpts += [positive, negative, neutral]     # gets datapoints for the library and term 
    graph_comparing_library(query_dpts, topic, sn, r)

In [110]:
def run_and_term(dill_vars, sn):
    for term in dill_vars["afinn"]["run1"]:
        if term != "time":
            for run in dill_vars["afinn"]:
                get_specific_run(dill_vars, term, run, sn)

In [ ]:
run_and_term(twitter_vars, "twitter")

In [107]:
def graph_comparing_library(dpts, term, sn, run):
    list_of_runs = ['Afinn', 'BERT', 'TextBlob', 'VADER']
    fig = plt.figure()
    x_point = np.arange(4)
    fig = plt.figure(figsize=(14, 8))

    ax = fig.add_axes([0,0,1,1])
    ax.bar(x_point + 0.00, dpts[0], color = 'g', width = 0.25)      # plots positive, negative, neutral
    ax.bar(x_point + 0.25, dpts[1], color = 'r', width = 0.25)
    ax.bar(x_point + 0.50, dpts[2], color = 'b', width = 0.25)
    ax.set_ylabel('Percentage of Posts', fontweight='bold', fontsize=16)
    ax.set_xlabel('Social Network and Run Number', fontweight='bold', fontsize=16)      # Reddit VS Twitter
    ax.set_title(sn.capitalize() + " " + term.capitalize() + " " + run.capitalize() + " Results", fontweight='bold', fontsize=20)       # title of graph
        
    plt.xticks(x_point + 0.25, list_of_runs)        # x-axis is the run names
    ax.legend(labels=['Positive', 'Negative', 'Neutral'])
    plt.savefig("sentiment_graphs/lib_comparisons/" + sn + "/" + term + run + ".png", bbox_inches='tight')

In [108]:
run_and_term(twitter_vars, "run1", "lockdown", "twitter")

TypeError: run_and_term() takes 2 positional arguments but 4 were given